<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <a href="{% url 'create_comment' %}" style="color: red;text-transform: uppercase">Создать комментарий</a>
    {% for comment in page_obj.object_list %}
        <h3>Пользователь: {{ comment.user__username }}

        </h3>
            {%if comment.online == True%}
                Онлайн
            {%else%}
                Не онлайн
            {%endif%}
        <p>{{ comment.body }}</p>
        <p>Дата публикации {{ comment.created_on|date:"d.m.Y H:i:s" }}</p>
     {% if comment.user_id == user_id %}
        <a href="{% url 'update_comment' comment.user_id %}">Редактировать комментарий</a>
         <br>
     {% endif %}

     {% endfor %}
    <br>
    {% for n in page_obj.paginator.page_range %}
        <button>
            <a href="?page={{ n }}">{{ n }}</a>
        </button>
    {% endfor %}


</body>
</html>